src/main/app/api-anypointmq-experience.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
      <flow name="api-anypointmq-exp-main">
        <http:listener config-ref="api-anypointmq-exp-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="api-anypointmq-exp-config" doc:name="APIkit Router"/>
        <exception-strategy ref="api-anypointmq-exp-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="api-anypointmq-exp-console">
        <http:listener config-ref="api-anypointmq-exp-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="api-anypointmq-exp-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="delete:/anypointmq:api-anypointmq-exp-config">
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties['http.query.params']['ack'] == 'true']">
                <flow-ref name="ack-message-flow" doc:name="ack-message-flow"/>
            </when>
            <otherwise>
                <flow-ref name="nack-message-flow" doc:name="nack-message-flow"/>
            </otherwise>
        </choice>

    </flow>
    <flow name="get:/anypointmq:api-anypointmq-exp-config">
        <flow-ref name="get-message-flow" doc:name="get-message-flow"/>
        <choice doc:name="Choice">
            <when expression="#[payload[0].body != null]">
                <dw:transform-message doc:name="get message">
                    <dw:input-payload doc:sample="sample_data/json_1.json"/>
                    <dw:set-variable variableName="body"><![CDATA[%dw 1.0
%output application/xml
---
(read(payload[0].body, "application/xml"))
]]></dw:set-variable>
                </dw:transform-message>
            </when>
            <otherwise>
                <logger level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>

    </flow>
    <apikit:mapping-exception-strategy name="api-anypointmq-exp-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
